@using TechJobs6Persistent.ViewModels
@model AddJobViewModel


<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>
    <div class="form-group">
        <label asp-for="Employer">Employer</label>
        <select asp-for="Employer" asp-items="Model.Employers"></select>
        <a asp-controller="Employer" asp-action="Create">Add Employer</a>
    </div>
    <br />

    <input type="submit" value="Add Job" />
</form>